## Cluster Assignment
cluster-ceph/cluster/*.sls

## Roles
# ADMIN
role-master/cluster/sesadmin*.sls
role-admin/cluster/sesadmin*.sls

# MON
role-mon/cluster/osd[1-3].sls

# MGR (mgrs are usually colocated with mons)
role-mgr/cluster/osd[1-3]*.sls

# MDS
role-mds/cluster/osd1*.sls

# openATTIC
role-openattic/cluster/sesadmin*.sls

# COMMON
config/stack/default/global.yml
config/stack/default/ceph/cluster.yml

## Profiles
profile-default/cluster/*.sls
profile-default/stack/default/ceph/minions/*.yml
